body {
    font-family: Arial, sans-serif;
    background-color: #a1adf6; 
    color: #0f3152; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #004d66; 
}

button {
    background-color: #007acc; 
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005f99; 
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #002233; 
}
